body {
	background-color: #34DDDD;
}

.main {
	background-color: #00a9e8;
	margin: 25% 38%;
	padding: 2% 0;
	border-radius: 2%;
	text-align: center;
}

img {
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

input {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00a9e8;
	color: white;
	text-align: center;
}

button {
	color: white;
	margin: 8px 0;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	width: auto;
	background-color: gray;
}

button:hover {
	background-color: #34DDDD;
	transition: all .5s ease-in-out;
}

.passw {
	padding-top: 10%;
}